<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<h1>회원가입 페이지</h1>
    <form method="post" action="/signUp" th:object="${memberDto}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        ID : <input type="text" th:field="*{userId}"> <br>
               <p th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"> </p>
        PW : <input type="password" th:field="*{password}"><br>
          <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> </p>

        E-Mail : <input type="text" th:field="*{email}"><br>

        <button>가입</button>
    </form>
</body>
</html>